body {
    /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwQEDkzWpzz8ecoPHgKEU_o-Jb9uixGJBtIV6pLTXIEMwC8EQH7LW-fyM6vng86G5AnXA&usqp=CAU"); */
    /* background-image: url("https://wallpaperaccess.com/full/1109072.jpg"); */
    /* background-image: url("https://media1.thehungryjpeg.com/thumbs2/ori_3489757_737d61de4656772314c8961ceb210959823a8d7c_doodle-love-clip-art-love-doodles-clipart.jpg"); */
    background-image: url("talkbuzz backgrounds/register.jpg");

    background-color: #cccccc; /*background color when image is not loaded*/

    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed;
    background-size: cover; /* Resize the background image to cover the entire container */
}


.form-control{
    margin-bottom:10px;
}

.display-4{
    margin-bottom: 15px;
}
